.body {
    padding: 5px;
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}