body {
    background: url('../../images/background.jpg') no-repeat center;
    background-size: cover;
    height: auto;
    width: 100%;
}

.navbar.sticky {
    /*background: #46b8da;*/
}

#mainWrapper {
    height: 50px;
    box-shadow: 0 0 1px 1px;

}

.clear {
    clear: both;
}

.pad {
    padding: 0;
}

/* =============================================================
MENU SECTION STYLES
============================================================ */
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-bottom: 1px solid rgb(40, 141, 203);
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 12px;
    font-weight: 800;
    padding: 5px 0px;
    letter-spacing: 2px;
    margin: 10px 20px 10px 20px;
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a > img {
    width: 25px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
    color: #fff;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(40, 141, 203);
}

.navbar-inverse .navbar-toggle {
    border-color: rgb(40, 141, 203);
}

#services .services-wrapper {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    color: #FFFFFF;
    height: 150px;
    cursor: pointer;
    margin-bottom: 40px;
    padding: 20px;
    transition: all 0.5s ease-in-out 0s;
}

#services .services-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.marginTop {
    margin-top: 50px;
}

.region-name {
    margin-top: 10px;
}

.righty > div {
    background: none repeat scroll 0 0 #f7e1b5;
    height: 100%;
    margin-top: 2px;
    padding: 0;
    position: fixed;
    right: 0;
    top: 54px;
    width: 240px;
}

.topColor {
    background: #f7e1b5;
    /*margin-left: 20px;*/
    width: 255px;
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
}

.topColor li {
    cursor: pointer;
}

.white {
    color: #FFFFFF;
}

.starsRight {
    position: absolute;
    right: 25px;
    bottom: 45px;
}

.starsLeft {
    position: absolute;
    left: 20px;
    bottom: 40px;
}

.heart {
    position: absolute;
    top: 30px;
    right: 25px;
    color: orangered;
    font-size: 25px;
}

#map-canvas1{
    background-color: #e5e3df;
    display: block;
    height: 225px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.backScreen {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1051;
}
.gifImg {
    position: absolute;
    top: 200px;
    left: 45%;
    width: 100px;
    display: none;
    z-index: 1052;
}
.gifImg img{
    width: 100%;
    height: auto;
    display: block;
}

.pop {
    background: #FFFFFF;
    padding: 10px 8px;
}

.model-container {
    /*border: 1px solid #d2d2d2;*/
    height: 200px;
    padding: 2px;
    display: table;
}

.model-container > div {
    height: 100%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    opacity: 0.8;
    font-size: 26px;
}

.model-container > div:hover {
    opacity: 1;
}

.head {
    margin: 5px 15px;
}

.blue-box {
    background: #59a0ff;
    display: block;
}

.red-box {
    background: #ff5132;
    display: block;
}

.green-box {
    background: #8eff99;
    display: block;
}

.cyan-box {
    background: #bafdff;
    display: block;
}




#mainWrapper .info-content.info {
    display: none;
    left: 35%;
    padding: 5px;
    position: fixed;
    top: 225px;
    /*width: 300px;*/
    z-index: 1053;
    overflow: hidden;
}
.info-content {
    /*height: 250px;*/
    /*width: 325px;*/
}
.info-content .showSummaryDiv .container {
    /*height: 150px;*/
    margin-top: 5px;
    position: relative;
    font-size: 15px;
    width: 100%;
}
.info-content .showSummaryDiv .container .set{
    width: 100%;
    display: table;
}
.info-content .showSummaryDiv .container .set.map{
    width: 300px;
    display: table;
    height: 150px;
}
.info-content .showSummaryDiv .container .legend {
    font-weight: bold;
    overflow: hidden;
    display: inline;
    vertical-align: middle;
}
.info-content .showSummaryDiv .container .data {
    display: table-cell;
    width: 49%;
}
.info-content .showSummaryDiv .container .data img {
    width: 30px;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}
.info-content .showSummaryDiv .container .data .textSmall {
    margin-left: 32px;
}
.info-content .showSummaryDiv .container .data .legend .heartbeat{
    color: #16af1e;
}
.info-content .showSummaryDiv .container .value {
    display: inline;
    overflow: hidden;
    vertical-align: middle;
}
.info-content .showSummaryDiv {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    left: -5px;
    padding: 15px;
    top: -5px;
    width: 100%;
    z-index: 100000;
}
.info-content .showSummaryDiv.map{
    padding: 5px;
    height: auto;
    width: 300px;
}
.info-content .showSummaryDiv .header {
    color: #30bfd7;
    font-size: 17px;
    font-weight: bold;
    /*width: 230px;*/
}
.info-content .showSummaryDiv .header span {
    background: none repeat scroll 0 0 #6b6b6b;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    float: right;
    padding: 3px;
    text-align: center;
    width: 20px;
}
.info-content .showSummaryDiv .header .time {
    display: inline;
    vertical-align: middle;
}

/*.navbar-brand {*/
/*padding: 13px 15px;*/
/*}*/

/* --------------------------------------
   Carousel
   -------------------------------------- */

/* --------------------------------------
   Global Styles
   -------------------------------------- */

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
