<div class="middle-container">
    <!--<div class="listHead col-lg-9 row">-->
    <!--<div class="content col-md-3" ng-repeat="region in regions">-->
    <!--&lt;!&ndash;<img src="public/images/homelogo.png" alt="img">&ndash;&gt;-->
    <!--<div class="inside">-->
    <!--<div class="name">{{region.name}}</div>-->
    <!--<div class="kms">{{region.kms}} Kms</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="side-category col-md-3">-->
    <!--<div class="content col-sm-3" ng-repeat="region in regions">-->
    <!--&lt;!&ndash;<img src="public/images/homelogo.png" alt="img">&ndash;&gt;-->
    <!--<div class="name">{{region.name}}</div>-->
    <!--<div class="kms">{{region.kms}} Kms</div>-->
    <!--</div>-->
    <!--</div>-->

    <section id="services">
        <div class="lefty col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row text-center header">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in white" data-anim-type="fade-in-up">
                    <h3>Popular Regions</h3>
                    <hr/>
                </div>
            </div>
            <div class="row animate-in" data-anim-type="fade-in-up" >
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="position: relative;margin-right: 20px;margin-left: -20px;" ng-click="loadRegionPopup($index)"
                     ng-repeat="region in regions">
                    <div class="services-wrapper">
                        <i class="ion-document"></i>

                        <h3 class="region-name">{{region._id.Ward}}</h3>


                        <div class="starsLeft">
                            Popularity Score :  {{100 - region.Weightage*100 | number:0}}%
                        </div>
                        <div class="heart" >
                            <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        <div class="starsRight">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="righty col-xs-2 col-sm-2 col-md-2 col-lg-2 pad">
            <div class="list-group checkbox">
                <div class="checkbox list-group-item" ng-repeat="filter in filters">
                    <label ng-click="filterRegions(filter.id)"><input type="checkbox" value=""> {{filter.value}}</label>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICE SECTION END-->
</div>
