<div class="info-content info">
    <div class="showSummaryDiv">
        <div class="header">
            City : {{firstCity}}
            <!--<div class="time close">x</div>-->
            <span ng-click="cancel()">x</span>
        </div>
        <div id="map-canvas1"></div>
        <div class="container">
            <div class="set">
                <div class="data text">
                    <p><span class="legend">User: </span><span class="value user"> </span></p>

                    <p><span class="legend">Email: </span><span class="value uEmail"></span></p>

                    <p><span class="legend">Ph No: </span><span class="value phone"></span></p>
                </div>
                <div class=" data hrtBeat">
                    <p>
                        <span class="glyphicon glyphicon-heart" style="font-size: 24px;color: orangered;"></span>
                        <span class="legend">Heartbeat count is <span class="value heartbeat"></span></span><br/>
                        <span class="textSmall">(last 24hrs)</span>
                    </p>

                    <p><span class="value note"><span class="legend">Note: </span><span class="value">if the # of Heartbeat is > 180, its a good idea to call customer and check</span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>