<div class="pop container-fluid">
    <div class="head"><h3 align="center">What are you like !</h3></div>

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 container">
        <div class="model-container  col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-click="loadRegions('party')">
            <div class="blue-box">
            <span class="glyphicon glyphicon-glass" style="color: #000;font-size: 25px;" ></span>
                Party Freak
            </div>
        </div>
        <div class="model-container  col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-click="loadRegions('family')">
            <div class="red-box">
                <span class="glyphicon glyphicon-home" style="color: #000;font-size: 25px;"></span>
                Family guy
            </div>
        </div>
        <div class="model-container  col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-click="loadRegions('veterans')">
            <div class="green-box">
                <span class="glyphicon glyphicon-flag" style="color: #000;font-size: 25px;"></span>
                Veteran
            </div>
        </div>
        <div class="model-container  col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-click="loadRegions('custom')">
            <div class="cyan-box">
                <span class="glyphicon glyphicon-cog" style="color: #000;font-size: 25px;"></span>
                Custom
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
